{% extends "TechZone/base.html" %}

{% block main %} 

<h1> Lista de productos</h1>  
    <form>
     <p>
            <label for="criterio_nombre">Producto:</label>
            <input type="text" name="criterio_nombre" maxlength="100" required="" id="criterio_nombre">   
         </p> 
        <p>
            <input type="submit" value="Buscar">
        </p>
    </form>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <ul>
      {% if not object_list %}
        <h2>No hay productos aún.</h2>
        {% endif %}
    {% for product in object_list %}
 
    <li>
        <div class="col">
            <div class="card shadow-sm">
                {% if product.imagen %}
                    <img class="card-image-top"  style="height: 190px;width: 50%;display: block;"src="{{product.image_url}}" data-holder-rendered="true">
                {% endif %}
              <div class="card-body">
        {{product}} 
            <br>
            <a href="{% url 'product-detail' product.id %}"> Detalles</a>
        {% if user.is_authenticated and product.publisher == user %}
            <a href="{% url 'product-update' product.id %}"> Actualizar</a>
            <a href="{% url 'product-delete' product.id %}"> Borrar</a>
        {% endif %}
              </div>
    </li>
    {% endfor %}
    </ul>

</div>
{% endblock %}